!!! 5
%html
  = render "layouts/shared/header"

  %body
    .wordle-index-page-content
      %h1.wordle-index-page-header
        = "ABSURDLE"

      .wordle-game-input-pad
        .wordle-game-input-pad-row{class: "active"}
          - (0..4).each do |column_index|
            .wordle-game-input-field{data: {"column-index": column_index}}

      .wordle-game-character-buttons-container
        .wordle-game-character-buttons-row
          - "QWERTYUIOP".each_char do |char|
            .wordle-game-character-button{data: {"val": char}}
              = char

        .wordle-game-character-buttons-row
          - "ASDFGHJKL".each_char do |char|
            .wordle-game-character-button{data: {"val": char}}
              = char

        .wordle-game-character-buttons-row
          - "ZXCVBNM".each_char do |char|
            .wordle-game-character-button{data: {"val": char}}
              = char

          .wordle-game-revert-button{class: "active disabled"}
            = "⟲"

          .wordle-game-backspace-button
            = image_tag("backspace.svg", width: 20, height: 20)

        .wordle-game-character-buttons-row
          .wordle-give-up-button
            = "Give up"

          .wordle-game-enter-button{class: "disabled", action: api_wordle_result_submit_path, data: {"valid-string": valid_string}}
            = "ENTER"

          .wordle-random-guess-button{action: api_random_text_path}
            = "Random Guess"
